@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat&family=Merriweather&display=swap');

*{
  background-color: rgb(242, 242, 234);
  font-family: 'Fredoka One', cursive;
}

.app-home {
  text-align: center;
  margin: 50px;
}

.UserForm {
  width: 500px;
  text-align: center;
  margin: 30px auto;
}

.PostForm {
  width: 70%;
  margin: 30px auto;
}

#addBtn {
  margin: 15px;
}

#edit-btn{
  float:right;
  margin: 10px 5px;
}

#delete-btn {
  float: right;
  margin: 10px;
}

#postlist {
  font-family: 'Merriweather', serif;
  font-weight:100;
  text-align: center;
}

#post-title{
  margin: 20px;
  background-color: rgb(238, 228, 217);
  font-family: 'Montserrat', sans-serif;
  border: 1px solid rgb(184, 184, 170);
}

#post-content {
  margin: 20px;
  padding: 10px;
  background-color: rgb(238, 228, 217);
  min-height: 30vh;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid rgb(184, 184, 170);
}

#post-comment {
  font-family: 'Montserrat', sans-serif;
  margin-left: 15px;
}

.header_div {
  /* width: 1200px; */
  height: 30vh;
  background-image: url('https://images.unsplash.com/photo-1437846972679-9e6e537be46e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTR8fHRyYXZlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=2670&q=80');
  background-position: center;
  background-size:cover;
  animation : slide 20s infinite;
}

@keyframes slide {
  25% {
    background-image: url('https://images.unsplash.com/photo-1499002238440-d264edd596ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjIwfHxsYW5kc2NhcGV8ZW58MHx8MHx8&auto=format&fit=crop&w=2670&q=80');
  }
  50% {
    background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhY2h8ZW58MHx8MHx8&auto=format&fit=crop&w=2670&q=80');
  }
  75% {
    background-image: url('https://images.unsplash.com/photo-1507608869274-d3177c8bb4c7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
  }
  100% {
    background-image: url('https://images.unsplash.com/photo-1503614472-8c93d56e92ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2FuYWRhfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=2670&q=80');
  }
}